\.mixin.out/
\.vscode/
\.obsidian/

coremods/
crash-reports/
downloads/
local/
logs/
mods/
profileImage/
quest_structures/
resourcepacks/
saves/
screenshots/
server-resource-packs
shaderpacks/
texturepacks/

\.curseclient
minecraftinstance\.json
patchouli_data\.json
realm_persistence\.json
rhino\.local\.properties
usercache\.json
usernamecache\.json
